#homePage
	#slider
		%ul.bxslider
			%li
				= image_tag ('slider/1.jpg')
			%li
				= image_tag ('slider/2.jpg')
			%li
				= image_tag ('slider/3.jpg')
			%li
				= image_tag ('slider/4.png')
			%li
				= image_tag ('slider/5.png')
			%li
				= image_tag ('slider/6.png')
			%li
				= image_tag ('slider/7.jpg')
			%li
				= image_tag ('slider/8.jpg')
			%li
				= image_tag ('slider/9.jpg')
			%li
				= image_tag ('slider/10.jpg')
	#homeGrid{:"data-layout" => "2222"}
		%a{href:"#"}
			=image_tag('home_page/chair1.jpg')
		%a{href:"#"}
			=image_tag('home_page/chairs.jpg')
		%a{href:"#"}
			=image_tag('home_page/red_fancy.png')
		%a{href:"#"}
			=image_tag('home_page/legs.jpg')
		%a{href:"#"}
			=image_tag('home_page/fancy_pink.jpg')
		%a{href:"#"}
			=image_tag('home_page/red_throne.jpg')
		%a{href:"#"}
			=image_tag('home_page/tats.jpg')
		%a{href:"#"}
			=image_tag('home_page/white_fancy.jpg')

:javascript
	$(document).ready(function(){
		$('.bxslider').bxSlider({
			auto: true,
			infiniteLoop: true,
			mode: 'fade',
		});
	});

	$('#homeGrid').photosetGrid({
		gutter: '5px',
	});